<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>DH HEROES</h1>
        <h2>Este sitio busca mostrar la información de los Héroes
            Tecnológicos más representativos del ámbito de la programación.</h2>
        <img width="100%" src="/img/dhheroes.png" alt="Heroínas y Héroes Tecnológicos">
    </header>
    <main>
         <ul>
             <li><button><a href="/babbage">Charles Babbage</a></button></li>
             <li><button><a href="/berners-lee">Tim Berners-Lee</a></button></li>
             <li><button><a href="/clarke">Edith Clarke</a></button></li>
             <li><button><a href="/hamilton">Margaret Hamilton</a></button></li>
             <li><button><a href="/hopper">Grace Hopper</a></button></li>
             <li><button><a href="/lovelace">Ada Lovelace</a></button></li>
             <li><button><a href="/turing">Alan Turing</a></button></li>
         </ul> 
    </main>
        <div>
            <span><button><a href="#top">Ir arriba</a></button></span>
        </div>
</body>
</html>